@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    min-height: 100%;
    position:absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    background-color: #252525;
    font-family: 'Roboto', sans-serif;
}

.ellipse:first-child
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    top: -300px;
    left: -10px;
}

.ellipse:nth-child(2)
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    top: -200px;
    right: -50px;
}

.ellipse:nth-child(3)
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    bottom: -300px;
    left: -100px;
}

.ellipse:nth-child(4)
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    bottom: -300px;
    right: -100px;
}


.section {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.card {
    background-color: #EAEBED;
    border-radius: 10px;

    font-size: 16px;
    color: black;
}

.card__user {
    width: 424px;
    height: 159px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card__scoreboard
{
    width: 424px;
    height: 443px;
}

.card__games {
    width: 659px;
    height: 624px;
}

.card__user .logo:hover::before {
    content: "Changer l'image";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
}

.card__user .logo {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    background-image: url('/images/user.png');
    background-size: cover;
}

.card__user .logo:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

.user__stats ul {
    list-style: none;
}

.user__stats li {
    opacity: 55%;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
}

.user__stats {
    font-size: 12px;
}

.user__stats ul li a {
    font-size: 12px;
}

.card__scoreboard {
    padding: 20px;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.card__title {
    margin-bottom: 25px;
}

.card__content {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.card__content__player {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
}

.card__content__player:first-child {
    zoom: 1.2;
}

.card__content__player:last-child {
    margin-bottom: 0px;
}

.card__content__player__medail
{
    width: 20px;
    height: 20px;
    background-image: url('/images/medaille.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.card__content__player__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('/images/user.png');
    background-size: cover;
    margin-right: 10px;
}

.card__content__player__stats ul {
    list-style: none;
}

.card__content__player__stats ul li {
    font-size: 10px;
    opacity: 70%;
    line-height: 1.3;
}

.card__games__title {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: Montserrat, sans-serif;
    line-height: 1.3;
}

.card__games {
    padding: 20px;
    overflow-y: scroll;
}

.card__games__title__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    font-size: 12px;
    background-color: #7F0FC3;
    border-radius: 2px;
}

.card__games__title__button a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.card__games__body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card__games__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.card__games__list__img {
    width: 80px;
    height: 80px;
    background-image: url('/images/room.png');
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.55));
    margin-right: 30px;
}

.card__games__list__text {
    font-size: 14px;
    line-height: 1.3;
    opacity: 0.7;
}

.card__games__join {
    margin-left: auto;
}

.card__games__join a {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #7F0FC3;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}
