* { box-sizing: border-box; margin: 0; padding: 0;}
*:before, *:after { box-sizing: border-box;}

body {
    width: 100%;
    height: 100%;
    background-color: #252525;
    overflow: hidden;
}

.ellipse:first-child
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    top: -300px;
    left: -10px;
}

.ellipse:nth-child(2)
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    top: -200px;
    right: -50px;
}

.ellipse:nth-child(3)
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    bottom: -300px;
    left: -100px;
}

.ellipse:nth-child(4)
{
    background-color: #D9D9D9D9;
    width: 806px;
    height: 632px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 10%;

    bottom: -300px;
    right: -100px;
}


.game__field
{
    margin-top: 3rem!important;
    max-width: 1140px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.center__card__hands
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-weight: normal;
    color: gray;
}

.card {
    width: 116px;
    height: 178px;
    float:left;
    background: #fff;
    border-radius: 5px;
    display: table;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    font-size: 100px;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 4px 4px 0 #000000;

    box-shadow:0 0 10px #777777;
    text-align: center;
    position: relative;
    margin-left: -25px;
    margin-right: -25px;
    word-wrap: break-word;
    font-family: sans-serif;
}

.black {
    color: #000;
}

.card.black .inner {
    background-color: #000;
    color: #fff;
}

.card .inner {
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    overflow: hidden;
}

.card .inner .mark {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0 26px;
    border-radius: 100px 60px / 120px 60px;
    line-height: 1.4;
}

.hidden {
    color: rgb(199,42,24);
    background-color: rgba(199,42,24);
    text-shadow: rgba(199,42,24) 1px 1px 1px;
}

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-8
{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.ptb50 { padding: 50px 0; }

.pr200 { padding-right: 200px; }

.rotate {
    transform: rotate(45deg);
}

.hidden {
    color: rgb(199,42,24);
    background-color: rgba(199,42,24);
    text-shadow: rgba(199,42,24) 1px 1px 1px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align:center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.side__hand .card {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -110px;
    width: 140px;
    height: 100px;
}

.active {
    font-weight: bold;
}

.card:before {
    top: 15px;
    left: 10px;
}

.card:after {
    bottom: 15px;
    right: 10px;
}

.card:before, .card:after {
    display: inline-block;
    position: absolute;
    line-height: 0;
    font-size: 20px;
    color:#fff;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 2px 2px 0 #000000;
}

.card.num-1:before, .card.num-1:after {
    content: "1";
}

.card.num-2:before, .card.num-2:after {
    content: "2";
}

.card.num-3:before, .card.num-3:after {
    content: "3";
}

.card.num-4:before, .card.num-4:after {
    content: "4";
}

.card.num-5:before, .card.num-5:after {
    content: "5";
}

.card.num-6:before, .card.num-6:after {
    content: "6";
}

.card.num-7:before, .card.num-7:after {
    content: "7";
}

.card.num-8:before, .card.num-8:after {
    content: "8";
}

.card.num-9:before, .card.num-9:after {
    content: "9";
}

.card.num-0:before, .card.num-0:after {
    content: "0";
}

.my-card {
    top: 0;
    transition: 0.5s ease, margin-right 0.5s, margin-left 0.5s;
    transition-delay: 0.1s;
}

.blue {
    color: #0063b3;
}

.green {
    color: #18a849;
}

.yellow {
    color: #e6ca1e;
}

.red {
    color: #c72a18;
}

.card.yellow .inner {
    background-color: #e6ca1e;
}

.card.green .inner {
    background-color: #18a849;
}

.card.blue .inner {
    background-color: #0063b3;
}

.card.red .inner {
    background-color: #c72a18;
}

.card__inner__plus4 {
    width: 26px;
    height: 44px;
    float: left;
    background: #000;
    border-radius: 5px;
    display: table;
    box-sizing: border-box;
    padding: 3px;
    margin: 10px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

.card__inner__plus4__green {
    color: #18a849;
}

.card__plus4__green {
    position: absolute;
    left: 15px;
    top: 90px;
}

.card__inner__plus4__red {
    color: #c72a18;
}

.card__plus4__red {
    position: absolute;
    left: 45px;
    top: 75px;
}

.card__inner__plus4__blue {
    color: #0063b3;
}

.card__plus4__blue {
    position: absolute;
    left: 30px;
    top: 60px;
}

.card__inner__plus4__yellow {
    color: #e6ca1e;
}

.card__plus4__yellow {
    position: absolute;
    left: 60px;
    top: 45px;
}

.card.plus-4:after {
    content: "+4";
}

.card-plus2-bottom-left {
    position: absolute;
    left: 30px;
    top: 80px;
}

.card-plus2-top-right {
    position: absolute;
    left: 45px;
    top: 50px;
}

.card__inner__plus2 {
    width: 26px;
    height: 44px;
    float: left;
    background: #000;
    border-radius: 5px;
    display: table;
    box-sizing: border-box;
    padding: 3px;
    margin: 10px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

.skip {
    font-size: 55px;
}

.card.skip:before, .card.skip:after {
    content: "⊘";
}

.card.draw2:before, .card.draw2:after {
    content: "+2";
}


.card.reverse {
    font-size: 73px;
}

.card.reverse .mark {
    transform: rotate(-45deg);
}

.card.reverse:before, .card.reverse:after {
    content: "⇄";
    transform: rotate(-45deg);
}

.card.wild:before,
.card.wild:after {
    content: "W";
}


/* Wild Card Circle */
.circle-container {
    width: 94px;
    height: 130px;
    float: left;
    position: absolute;
    left: 10px;
    top: 24px;
    z-index: 0.5;
    transform: rotate(18deg);
    transform: skew(-9deg, 0);
}

.quarter {
    width: 47px;
    height: 65px;
}

.top-left {
    border-top-left-radius: 200px;
    background: #c72a18;
    float: left;
}

.top-right {
    border-top-right-radius: 200px;
    background: #0063b3;
    float: right;
}

.bottom-left {
    border-bottom-left-radius: 200px;
    background: #e6ca1e;
    float: left;
}

.bottom-right {
    border-bottom-right-radius: 200px;
    background: #18a849;
    float: right;
}

.my-card:hover {
    cursor: pointer;
    top: -20px;
    margin-right: 10px;
    margin-left: 10px;
}
